.env
.env.*
/ai-driven/claude/.claude/agents
/ai-driven/opencode/.opencode/agents/*
/ai-driven/copilot/.github/agents/*
.claude.json
opencode.json
node_modules
bun.lock
package-lock.json
package.json
